.homepage section[role=main] {
    margin-left: 120px;
}

#gridlistcontent1 {
	height:94.61%;
	width: 93.66%;
	margin: 0px;
	left: -9px;
	top: 6.14px;
}
.ContentHolder{ position:relative;}
.EntryClass {
	width: 220px;
	height: 278px;
	display: -ms-grid;
	-ms-grid-columns: 2px 1fr;
	-ms-grid-rows: 1fr 55px;
	background-color: rgba(7, 59, 82, 0.173);
	background-image: radial-gradient(at left bottom, #255064 40.4%, rgb(45, 102, 36) 100%);
	margin:2px 5px 5px;
	color-interpolation-filters: inherit;
	border:10px;
	border-color:white;
}

.no {
	font-family:'segoe wp';
	font-size:60px;
	margin: 204px -1px -14px 71px; 
	-ms-grid-row-span: 2; 
	-ms-grid-column-span: 1; 
	-ms-grid-column: 2; 
	-ms-grid-row: 1; 
	text-align:right; 
}
#img{-ms-grid-row-span: 2; margin: 0px 192px -33px 0px; width: 220px; height: 220px; -ms-grid-row: 1; -ms-grid-column-span: 2;}
#song{margin: 13px 0px 60px; -ms-grid-column-span: 1; -ms-grid-row-span: 1; -ms-grid-row: 2; -ms-grid-column: 2; width: 225px;}
.progressbar1{
	margin:30px;
	visibility:hidden;
}
@media screen and (-ms-view-state: snapped) {
    .homepage section[role=main] {
        margin-left: 20px;
    }

}

@media screen and (-ms-view-state: portrait) {
    .homepage section[role=main] {
        margin-left: 100px;
    }
}
